body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background: #f7eaf4;
}

.root {
    width: 1000px;
    margin: 100px auto;
}

.card {
    background-color: white;
    box-shadow: 0 50px 60px -25px rgba(204, 144, 127, 0.9);
    display: flex;
}

.side-img {
    width: 45%;
  background: url('./img/background.jpg') no-repeat 50%;
  background-size: cover;
  position: relative;
}

.content {
    width: 55%;
    padding: 170px 100px 100px;
    position: relative;
}

.nav-bar {
    position: absolute;
    top: 30px;
}

.nav-right {
    right: 30px;
}

.card-navigation {
    position: absolute;
    top: 30px;
}

.card-navigation-link {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    margin-left: 30px;
  }

.card-navigation-left {
    left: 30px;
}

  .card-navigation-link:first-child {
    margin-left: 0;
  }

  .card-navigation-link:hover,
  .card-navigation-link_active {
    opacity: 1;
  }



.title {
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    line-height: 80px;
    margin-bottom: 20px;
    position: relative;
}

.title:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: black;
    bottom: 24px;
    right: 0;
    display: inline-block;
    width: 100%;
}

.title-inner {
    position: relative;
    z-index: 2;
    padding-right: 20px;
  }

  .title-inner:before {
    content: '';
    position: absolute;
    height: 60px;
    background: #fff;
    width: 100%;
    bottom: 0;
    z-index: -1;
  }

.author {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.guide {
    margin-top: 40px;
}

.photo-preview {
    width: 40%;
    padding-right: 10%;
    display: inline-block;
    vertical-align: top;
}

.card-preview-link {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
  }

.preview {
    position: relative;
    cursor: pointer;
  }

  .preview-icon {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8);
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
    text-align: center;
  }

  .preview-play {
    vertical-align: middle;
  }

  .preview-image {
    max-width: 100%;
  }

  .link {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
  }

  .link-icon {
    width: 16px;
    display: inline-block;
    vertical-align: middle;
  }

  .link-text {
    display: inline-block;
    vertical-align: middle;
  }

  .description {
    width: 49%;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
  }


